table, tr, th,  td{
    border: 3.4px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse:separate;
    padding: 1rem;
}

body{
    font-size: 27px;
    background-color:#F0EDEE;
    color: #000;
}