/* HTML BEHAVIOUR SCROLL SETTING */

html{
    scroll-behavior: smooth;
}


:root{

    /* COLOR MODIFICATION */

    --BLACK: black;
    --WHITE: white;
    --OUTLINE: orchid;

    /* TEXT MODIFICATION */

    --CURSIVE: cursive;
}


/* WEBPAGE RESET  */

*{
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

/* WEBPAGE BACKGROUND STYLING */

body{
    background-color: radial-gradient( var(--WHITE), orange);
    color: var(--BLACK);
    max-width: 100%;
}

/* HEADER STYLING */

header {
    background-color: rgb(38, 155, 100);
    color: var(--BLACK);
    font-size:small;
    font-family: var(--CURSIVE);
    text-align: center;
    padding: 0.1em;
    border-radius: 1px;
    text-shadow: 2px 2px 4px rgb(161, 199, 199);
}

.head{
    position:sticky;
    top:0;
}

/* PAGE-LAYOUT STYLING */

nav, figure, main, footer{
    margin: 1em;
} 

/* URL STYLING */
a{
    color:darkorchid;
    padding: 0.5em;
    border: 2px solid rgb(146, 109, 163);
    margin: 1em;
    border-radius: 15px;
    text-decoration: none;
    text-shadow: 2px 2px  5px rgba(0, 225, 255, 0.678);
}

.paragraph{
    margin-bottom: 1.5em;
}

a:hover , a:focus{
    background-color:rgb(0, 207, 128);
    color: var(--WHITE);
    text-shadow: 1px 3px 3px var(--BLACK);
    outline: 1px var(--OUTLINE) solid;
    border-width: 4px;
}

/* HEADER TWO STYLING */
h2{
    background-color: inherit;
    border-bottom: 2px solid var(--BLACK);
    font-size:1.4em;
    padding: 0.5em;
    text-align: center;
    color:  rgb(5, 144, 91);
    font-family: var(--CURSIVE);
    border-radius: 4px;
    text-shadow: 2px 2px 4px rgb(161, 199, 199);
} 

/* IMAGE STYLING */
img{
    height: auto;
    min-width: 100px;
    border-radius:50%;
}

/* CONTACT FORM STYLING */

.contact_h2{
    margin: 0;
}

.field{
    border: 0;
}

.field_p{
    margin: 1rem;
}

.field_legend{
    text-align: center;
    font-size: large;
    font-family:var(--CURSIVE);
    font-weight: bolder;
    color: var(--BLACK);
}

.contact_label{
    display: block;
    font-weight: bold;
}

.contact_text{
    display: block;

}

.contact_input, .contact_text{
    padding: 0.7em;
    border-radius: 11px;
    border-width: 3px;
    width:100%;
}

/* CONTACT FORM BUTTON STYLING */

.button1{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    
}

button {
    color: var(--WHITE);
    margin: 1em;
    text-decoration: none;
    text-shadow: 2px 2px  5px rgba(0, 225, 255, 0.678);
    border: 2px solid rgb(173, 139, 172);
    width: 20%;
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    background-color: rgb(0, 207, 128);
    font-family: var(--CURSIVE);
    font-size: small;
    
}

button:hover{
    border: 1rem;
    background-color:rgb(33, 138, 113);
    color: var(--WHITE);
    text-shadow: 1px 3px 3px var(--BLACK);
    border-width: 3px;
    border-radius: 13px;
    outline: 3px solid var(--OUTLINE);
    font-weight: 500;
}

/* TABLE STYLING */

table, tr, th,  td{
    color: var(--BB);
    border: 3.4px solid var(--BLACK);
    font-family: var(--CURSIVE);
    border-collapse:separate;
    padding: 1rem;
   
    text-shadow: 2px 2px 4px var(--WHITE);
}

.table_caption{
    font-family: var(--CURSIVE);
    color: rgb(5, 144, 91);
}

/* ARTICLE STYLING */
.Pryk{
    font-size: larger;
}

.aside_q{
    color:  rgb(5, 144, 91);
    text-align: center;
    margin-bottom: 0.5rem;
    font-family: var(--CURSIVE);
}

.h6{
    margin-bottom: 1rem;
}

.interval{
    border: var(--OUTLINE);
    width: 100%;
}

.day{
    font-size: larger;
    color:  var(--BLACK);
    font-family: var(--CURSIVE);
    margin-left:1rem;
}

.h6{
    font-size: larger;
    color:  rgb(5, 164, 103);
    font-family: var(--CURSIVE);
}

.pryk_trival{
    margin-top: 15px;
}

.copyright{
    text-align: center;
}